# Python
*.py[cod]
__pycache__/
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/
ENV/

# SQLite database
db.sqlite3

# Media files
media/

# VSCode settings
.vscode/

# Miscellaneous
*.log
*.pot
*.pyc
*.db
*.sqlite3
*.pdb
*.egg-info/
dist/
build/
